.dept-section
{
  padding: 0.05rem;
  width: 100%;
  height: 100vh;
  color: white;
  /* background-color: black; */
  /* background-color: white; */
  font-family: Helvetica;
  font-size: 5rem;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.dept-card-section{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dept-card{
  height: 400px;
  width: 300px;
  margin-right: 0.5rem;
  background-color: white;
}

.dept-text h2{
  margin-bottom: 1rem;
}

.dept-container {
  position: relative;
  width: 50%;
}

.dept-image {
  display: block;
  width: 100%;
  height: 100%;
}

.dept-overlay-top {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.dept-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.dept-container:hover .dept-overlay-top {
  bottom: 0;
  height: 100%;
}

.dept-container:hover .dept-overlay-bottom {
  height: 100%;
}

.dept-text {
  margin: 0.9rem;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}