html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    border: border-box;
    background-image: url(../res/roverBG.png);
    background-size: cover;
}

#home, #rovers{
  scroll-behavior: smooth !important;
}

.navbar{
    height: 10%;
    width: 100%;
    background-color: white !important;
    color: white;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    height: 60px;
    width: 150px;
}

.logo:hover{
    box-shadow: 0px 4px 8px black;
}

.logo{
    background-image: url("../res/logo.png");
    background-size: cover;
    height: 60px;
    width: 100%;
    margin-left: 20px;
    transition: 1s;
}

.nav-menu{
    width: 90%;
}

.nav-tabs{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    position: relative;
    top: 0.5rem;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-item::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.45s;
}

.nav-item:hover::after{
    width: 100%;
}

.nav-item{
    margin-right: 20px;
    margin-left: 20px;
}

.landingBG{
    width: 100%;
    height: 100vh;
    background-image: url(../res/landingBG.png);
    background-size: cover;
}

.shadow{
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 70px;
    margin-bottom: 0;
}

.headline{
    position: absolute;
    top: 140px;
    left: 30vw;
    text-align: center;
    color: white;
    z-index: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head1{
    font-size: 5rem;
}

.head2{
    font-size: 1.5rem;
}

.showcaseHead{
    margin: 0;
  background-size: cover;
  height: 100px;
  color: white;
  text-align: center;
}

.showcaseHead h2{
    position: relative;
    top: 50px;
    bottom: 50px ;
    font-size: 5rem;
}

.rover-showcase
{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
  /* background-image: url(roverBG.png); */
  background-size: cover;
  font-family: Helvetica;
}

.fill-purple
{
  background-image: linear-gradient(90deg, #4addff, #a34dfe);
}

.fill-green
{
  background-image: linear-gradient(90deg, #ffe40c, #33d497);
}

.fill-blue
{
  background-image: linear-gradient(90deg, #285ca5, #18d5ff);
}

.fill-orange
{
  background-image: linear-gradient(90deg, #fcf595, #ff954d);
}

.cards
{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  position: relative;
  height:21.875rem;
  width:100%;
}

.card
{
  display:flex;
  width:27.8125rem;
  height:18.25rem;
  border-radius:0.5rem;
  transform-origin:center center;
  transform:scale(1) translate(0px,0px) perspective( 750px ) rotateY(0deg);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 0.5s;
  position:absolute;
  top:0;
  box-shadow:0 30px 50px rgba(0,0,0,0.1);
  z-index:3;
  cursor: pointer;
  overflow:hidden;
}

.card *
{
  pointer-events: none;
}

.card--left
{
  transform:scale(0.75) translate(-335px,0px) perspective( 750px ) rotateY(10deg);
  box-shadow:0 15px 25px rgba(0,0,0,0.1);
  z-index:1;
}

.card--center
{
  transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg);
  box-shadow:0 30px 50px rgba(0,0,0,0.1);
  z-index:3;
}

.card--right
{
  transform:scale(0.75) translate(335px,0px) perspective( 750px ) rotateY(-10deg);
  box-shadow:0 15px 25px rgba(0,0,0,0.1);
  z-index:1;
}

.card--behind
{
  transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg);
  box-shadow:0 30px 50px rgba(0,0,0,0.1);
  z-index: 1;
}

.card__icon
{
  width:50%;
  height:100%;
  background:rgba(255,255,255,0.5);
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
}

.card__icon:before
{
  content:attr(data-icon);
  font-size:0rem;
  position:absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  width:170px;
  height:150px;
}

.novus::before{
    background-image: url(../res/Rovers/novus.png);
    background-size: cover;
}

.nambi::before{
    background-image: url(../res/Rovers/nambi.png);
    background-size: cover;
}

.nambi2::before{
    background-image: url(../res/Rovers/nambi2.png);
    background-size: cover;
}

.card__detail
{
  flex:1;
  display:flex;
  justify-content: center;
  margin-left: 14px;
  flex-direction: column ;
}

@media only screen and (max-width : 736px)
{
  .cards
  {
    flex-direction:column;
    margin:auto 0;
  }

  .card
  {
    display:flex;
    width:90%;
  }

  .card--left
  {
    transform:scale(0.75) translate(0px, -150px) perspective(750px) rotateY(0) rotateX(-10deg) translateZ(-5px);
  }

  .card--center
  {
    transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg)  rotateX(0deg) translateZ(5px);
  }

  .card--right
  {
    transform:scale(0.75) translate(0px, 150px) perspective(750px) rotateY(0) rotateX(10deg) translateZ(-5px);
  }

  .card--behind
  {
    transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg)  rotateX(0deg) translateZ(5px);
  }

  .card__icon:before
  {
    transform:scale(0.75);
  }
}

.black{
  color: black;
}


/* Dept Section */
.dept-section
{
  padding: 0.05rem;
  width: 100%;
  height: 100vh;
  color: white;
  /* background-color: black; */
  /* background-color: white; */
  font-family: Helvetica;
  font-size: 5rem;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.dept-card-section{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dept-card{
  height: 400px;
  width: 300px;
  margin-right: 0.5rem;
  background-color: white;
}

.dept-container {
  position: relative;
  width: 50%;
}

.dept-image {
  display: block;
  width: 100%;
  height: 100%;
}

.dept-overlay-top {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.dept-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.dept-container:hover .dept-overlay-top {
  bottom: 0;
  height: 100%;
}

.dept-container:hover .dept-overlay-bottom {
  height: 100%;
}

.dept-text {
  margin: 0.9rem;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.team-section
{
  width: 100%;
  height: 100vh;
  font-family: Helvetica;
  font-size: 4rem;
  /* background-color: black; */
  color: white;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.team-section h2{
  color: white(195, 100%, 33%);
}

.achieve-section
{
  width: 100%;
  height: 500px;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section
{
  padding-top: 5%;
  width: 100%;
  height: 400px;
  background-color: rgb(19, 32, 47);
  color: white;
  text-align: center;
}

.footer-banner{
  margin: 10px 80px 10px 80px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.footer-banner-section{
  color: white;
  height: 300px;
  width: 250px;
  /* background-color: #fff; */
}

.about p{
  margin-top: 3rem;
  padding-left: 0.55rem;
  text-align: left;
  font-size: 1.2rem;
}

.link-list{
  text-align: left;
  padding-left: 3.5rem;
  margin-top: 3rem;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.link-list li{
  margin-top: 1.5rem;
}

.link-list li a{
  color: white;
}

.link-list li a:hover{
  color: goldenrod;
}

.contact p{
  margin-top: 3rem;
  padding-left: 0.05rem;
  text-align: left;
  font-size: 1.2rem;
}

.contact ul{
  list-style-type: none;
}

.contact li{
  text-align: left;
}

.credits{
  text-align: center;
  width: 100%;
  height: 10vh;
  position: relative;
  bottom: 0;
  background-color: rgb(19, 32, 47);
  color: white;
  /* display: flex;
  flex-direction: row; */
}

.line1{
  padding: 0.5rem;
}


.yellow{
  color: goldenrod;
}
